.image-item-wrapper {
    width: 6.5em;
    height: 6.5em;
    padding: 0.1em;
}

.image-item-wrapper:hover {
    background: #EEE;
    transition: 0.5s;
}

.image-item {
    width: 6em;
    height: 6em;
    object-fit: contain;
}

.image-main {
    border: 3px solid blue; 
}

.action-text {
    color: #d9534f;
    text-align: center;
}

.action-text:hover {
    cursor: pointer;
    text-decoration: underline;
}