.single-column-form {
    width: 50%;
    margin: auto;
}   

.reactselect-invalid:is-focused:not {
    border-color: red;
}

@media(max-width:768px) {
    .single-column-form {
        width: 90%;
    }   
}